[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
praw = "*"
yfinance = "*"
flask = "*"
flask-pymongo = "*"
textblob = "*"
gunicorn = "*"
dnspython = "*"
flask-cors = "*"
requests = "*"
python-dotenv = "*"
flask-socketio = "*"

[requires]
python_version = "3.8"
