.nav
    text-align: center

.nav-links
  list-style-type: none
  list-style: none
  padding: 0

.nav-link
  color: white
  display: inline-block
  text-decoration: none
  list-style: none
  margin: 0 1rem

  &:hover
    cursor: pointer
    color: gray