.threadsCtn
    float: right

.thread
    width: 400px
    margin-bottom: 2em

.threadTitle
    font-weight: bold
    font-size: 1.25em

.threadBody
    margin-top: 0.7rem

.threadInfo
    font-size: 0.8rem
    margin-top: 0.7rem

    > *
        margin-right: 1rem

        &:hover
            cursor: pointer
            color: gray

        &:active
            color: white
    
.threadSub

.threadAuthor