.threadsCtn

.threadsHeading
    display: flex
    justify-content: center

.thread
    width: 425px
    margin-bottom: 2.2rem

.threadTitle
    font-weight: bold
    font-size: 1.25em

.threadBody
    word-wrap: break-word

    > div p
        margin-bottom: 0.7em
        margin-top: 0.7em

    & a
        color: #5eebf5

    & img
        width: 100%

.threadInfo
    font-size: 0.8rem

    > *
        margin-right: 1rem

        &:hover
            cursor: pointer
            color: gray

        &:active
            color: white
    
.threadSub

.threadAuthor

blockquote 
    border-left: 0.35em solid #919191;
    margin: 0
    padding-left: 0.5em
    color: #adadad

.cogWrapper
    padding-left: 1rem

.settingsToggle
    font-size: 1.1rem
    margin-left: auto
    margin-right: 0

    &:hover
        cursor: pointer
        color: gray

.settingsPane
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 1rem
    margin-bottom: 1rem

.setting
    margin-right: 0.3em

    &:hover
        span
            cursor: pointer
            color: gray

        input[type=checkbox]
            // you cannot directly change the color or background of a checkbox, using filter for workaround
            filter: invert(100%) hue-rotate(18deg) brightness(1.7)


