.stats
    text-align: center

.table
    display: block

    *
        text-align: center
    & th
        // font-size: 90%
        font-size: 0.9rem
        padding: 0.5em 0.7em
    & tr
        position: relative
    & td
        // font-size: 80%
        font-size: 0.9rem
        padding-top: 0.45em
        padding-bottom: 0.45em

.tickerName
    border-right: 1px solid white 

    &:hover
        cursor: pointer
        color: gray

    &:active
        color: white

.remove
    position: absolute
    right: -1.5em

.hour-selectors
    padding: 0
    margin: 1rem 0

.hour-selector
    color: #727272
    padding-bottom: 0.3em

    &:hover
        color: white
        border-bottom: solid 1px white

.hour-selected
    color: white
    border-bottom: solid 1px white