body{
    /* background-color: #282c34; */
    background-color: #2F3340;
    color: white;
    text-align: center;
}

a, a:focus, a:active {
    /* text-decoration: none; */
    color: inherit;
}

a:hover{
    color: gray
}

.logo{
    font-size: 40px
}

.about{
    padding: 0 2em;
}

#ticker-input{
    margin-right: 1em
}

.about-text{
    text-align: left;
}

.nav-links{
    list-style-type: none;
    list-style: none;
    padding: 0;
    /* display: flex; */
    /* justify-content: space-around; */

    @media screen and (max-width: 768px){
        font-size: 17px
    }
}

.nav-link{
    color: white;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0 1em
}

.nav-link:hover{
    cursor: pointer;
    color: gray
}

.contact-comment{
    margin: 1em;
    position: relative;
    max-width: 300px;
    margin: auto
}

.contact-text-area{
    width: 100%
}

.submit{
    position: absolute;
    right: 0
}

.submit:hover{
    cursor: pointer;
    color: gray
}

.articles{
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    flex-wrap: wrap;
}

.article{
    width: 400px;
    margin: 0 1em;
    margin-bottom: 3em;
    text-decoration: none;
    text-align: left;
    padding-bottom: 1em;
    border-bottom: 2px solid #bfbfbf;
}

h3, p{
    margin: 0.6em 0;
}

.article:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}

.article:hover img{
    opacity: 0.5
}

.article img{
    width: 100%;
}